<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon">
                      <img src="../../../assets/img/avatar.png" class="avtr">
                    </span>
                    <span class="name"><h2>Jack</h2></span>
                </a>
            </li>
    
            <li>
                <a href="#">
                    <span class="icon">
                      <img src="../../../assets/img/dashboard.png"class="menuimg">
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
    
            <li>
                <a routerLink="/income">
                    <span class="icon">
                      <img src="../../../assets/img/income.png" class="menuimg">
                    </span>
                    <span class="title">Income</span>
                </a>
            </li>
    
            <li>
                <a routerLink="/expense">
                  <span class="icon">
                    <img src="../../../assets/img/accounting.png" class="menuimg">
                  </span>
                  <span class="title">Expense</span>
                </a>
            </li>
    
            
        

        </ul>
    </div>
    </div>


