


 <div class="container nav">
  <div class="col-2">
  <div class="circle">
    <img src="../../../assets/img/avatar.png" />
    <div>
      <h2>Jack</h2>
      <p>your money</p>
    </div>
  </div>

    <ul class="menu-items">
      <li>
        <i class="fa-solid fa-money-bill-transfer"
          routerLink="dashboard">&nbsp;Dashboard
        </i>
      </li>
      <li>
        <i class="fa-solid fa-money-bill-transfer" a routerLink="expense">&nbsp;Expenses
        </i>
      </li>
      <li>
        <i class="fa-solid fa-arrow-trend-up" a routerLink="income">&nbsp;Incomes
        </i>
      </li>
    </ul>
  <div className="bottom-nav">
    
  </div>
</div>
</div>