
<div class="container-fluid full">
  <div class="row">
    <div class="col-md-8">
      <div class="content">
        <section class="income">
          <h1>Incomes</h1>
          <h2 class="total-income">Total Income: <span>{{ totalIncome }}</span></h2>
          <div class="form">
            <form [formGroup]="incomeForm" (ngSubmit)="submitIncomeForm()">
              <div class="mb-3">
                <input type="text" class="input-control" placeholder="Salary Title" formControlName="title" /><br />
              </div>
              <div class="mb-3">
                <input type="text" class="input-control" placeholder="Salary Amount" formControlName="amount" /><br />
              </div>
              <div class="mb-3">
                <input type="date" class="input-control" placeholder="Enter a Date" formControlName="date" /><br />
              </div>
              <div class="mb-3">
                <select class="selects input-control" formControlName="incomeType" required>
                  <option value="" disabled>Select Option</option>
                  <option value="salary">Salary</option>
                  <option value="freelancing">Freelancing</option>
                  <!-- Add other options as needed -->
                </select>
              </div>
              <div class="mb-3">
                <textarea class="input-control" cols="30" rows="4" placeholder="Add A Reference" formControlName="reference"></textarea><br />
              </div>
              <button class="btn btn-danger submit-btn" type="submit" [disabled]="incomeForm.invalid">
                + Add Income
              </button><br />
            </form>
          </div>
        </section>
      </div>

      <section class="income">
        <div class="income-cards" #incomeCardsContainer></div>
      </section>
    
  </div>
</div>






























