<div class="container-fluid full">
  <div class="row">
    
    <div class="col-md-12">
      <div class="content">
        <section class="expense">
          <h1>All transaction</h1>
           <div class="row">
            <div class="chart">
              <app-chart></app-chart>
            </div>
           </div>
           <div class="row">
            <div class="col-4 income">
              <h2>Total Income</h2>
              <p class="fa-solid fa-dollar-sign">0</p>
          </div>
          <div class="col-4 expense">
            <h2>Total Expense</h2>
            <p class="fa-solid fa-dollar-sign">0</p>
        </div>
        <div class="col-4 balance">
          <h2>Total Balance</h2>
          <p class="fa-solid fa-dollar-sign">0</p>
      </div>
           </div>
         
        </section>
      </div>
    </div>
  </div>
</div>

