


<div class="container full">
    <div class="row">
        <div class="col-3">
         
               </div>   
               
  
        <div class="col-9" >
          
                <div class="row contentbox">
                    <div class="row">
                    <h2 class="chartboxhead">All transaction</h2>
                        
                            <app-chart>

                            </app-chart>
                        </div>
                        
                           
                     
                 <div class="row ">
                  <div class="col-3 ">
                    <div class="card text-center">
                      <div class="card-body">
                        <h4 class="card-title">Total Expense</h4>
                        <p class="card-text">$-Infinity</p>
                      </div>
                    </div>
                  </div>
               
                <div class="col-3 ">
                  <div class="card text-center">
                    <div class="card-body">
                      <h4 class="card-title">Balance</h4>
                      <p class="card-text">$-Infinity</p>
                    </div>
                  </div>
                </div>
            
              <div class="col-3 ">
                <div class="card text-center">
                  <div class="card-body">
                    <h4 class="card-title">Total income</h4>
                    <p class="card-text">$-Infinity</p>
                  </div>
                </div>
              </div>
            </div>
          
                 
                

                    





